# requirements.txt
pandas
python-docx
langchain-chroma==0.2.4
chromadb==1.0.12
langchain_cohere==0.4.4
langchain==0.3.25
langgraph
langchain_community==0.3.24
google-generativeai
openai
sentence-transformers==4.1.0
pydantic
python-dotenv
PyYAML
tqdm
loguru
scikit-learn==1.6.1
protobuf<3.21
grpcio-status==1.48.2
torch
transformers==4.52.4
rank_bm25==0.2.2
markitdown[docx]
underthesea
pyvi
langchain-huggingface==0.2.0
streamlit
langmem
dotenv
numpy==1.26.4
python-docx